
public net.minecraft.world.gen.structure.StructureVillagePieces$Village func_74889_b(Lnet/minecraft/world/World;Lnet/minecraft/world/gen/structure/StructureBoundingBox;)I # getAverageGroundLevel

public net.minecraft.client.gui.screen.CreateWorldScreen func_230481_d_(Lnet/minecraft/client/gui/IGuiEventListener;)Lnet/minecraft/client/gui/IGuiEventListener;
public net.minecraft.client.gui.screen.CreateWorldScreen func_230480_a_(Lnet/minecraft/client/gui/widget/Widget;)Lnet/minecraft/client/gui/widget/Widget;
public net.minecraft.client.gui.screen.CreateWorldScreen func_238957_j_()Ljava/nio/file/Path;
public net.minecraft.client.gui.screen.CreateWorldScreen *
public net.minecraft.client.gui.screen.BiomeGeneratorTypeScreens *
public net.minecraft.client.gui.screen.BiomeGeneratorTypeScreens <init>(Ljava/lang/String;)V


public net.minecraft.world.gen.OctavesNoiseGenerator *
public net.minecraft.world.gen.NoiseChunkGenerator *

public net.minecraft.world.gen.DimensionSettings <init>(Lnet/minecraft/world/gen/settings/DimensionStructuresSettings;Lnet/minecraft/world/gen/settings/NoiseSettings;Lnet/minecraft/block/BlockState;Lnet/minecraft/block/BlockState;IIIZ)V
public-f net.minecraft.world.storage.ServerWorldInfo field_237343_c_
public net.minecraft.server.MinecraftServer field_240768_i_

public net.minecraft.world.DimensionType <init>(Ljava/util/OptionalLong;ZZZZDZZZZZILnet/minecraft/world/biome/IBiomeMagnifier;Lnet/minecraft/util/ResourceLocation;Lnet/minecraft/util/ResourceLocation;F)V
public net.minecraft.client.gui.widget.list.AbstractList field_230681_r_
public net.minecraft.server.MinecraftServer field_240767_f_

public net.minecraft.server.MinecraftServer field_71310_m # anvilConverterForAnvilFile

public net.minecraft.client.gui.screen.WorldOptionsScreen * # Needed to subclass the entire thing

public net.minecraft.world.biome.provider.BiomeProvider * # Needed for subclassing stuff

public net.minecraft.client.Minecraft$WorldSelectionType

#For the copy to clipboard
public net.minecraft.client.gui.IngameGui field_191743_I # chatListeners

#For gui backgrounds
public net.minecraft.client.gui.widget.list.AbstractList *

#For custom structures
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ # field_236191_b_ default settings map
public net.minecraft.world.gen.feature.structure.Structure field_236385_u_ # STRUCTURE_DECORATION_STAGE_MAP

#For custom skybox
public net.minecraft.client.world.DimensionRenderInfo field_239208_a_ # field_239208_a_

#For increased size structure blocks
public net.minecraft.tileentity.StructureBlockTileEntity *
public net.minecraft.tileentity.StructureBlockTileEntity func_189704_J()V # updateBlockState
public net.minecraft.tileentity.StructureBlockTileEntity func_184418_a(Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/util/math/BlockPos;)Ljava/util/List; # getNearbyCornerBlocks
public net.minecraft.tileentity.StructureBlockTileEntity func_184415_a(Ljava/util/List;)Ljava/util/List; # filterRelatedCornerBlocks
public net.minecraft.tileentity.StructureBlockTileEntity func_184416_a(Lnet/minecraft/util/math/BlockPos;Ljava/util/List;)Lnet/minecraft/util/math/MutableBoundingBox; # calculateEnclosingBoundingBox
